
<!DOCTYPE html>
<html class="no-js">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>FoodZen &mdash; Your favorite street food a click away</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="FoodZen website" />
	<meta name="author" content="Aniket, Rajarsjhi and Neil" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic,700italic|Merriweather:300,400italic,300italic,400,700italic' rel='stylesheet' type='text/css'>
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/css/icomoon.css">
	<!-- Simple Line Icons -->
	<link rel="stylesheet" href="/css/simple-line-icons.css">
	<!-- Datetimepicker -->
	<link rel="stylesheet" href="/css/bootstrap-datetimepicker.min.css">
	<!-- Flexslider -->
	<link rel="stylesheet" href="/css/flexslider.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/css/bootstrap.css">

	<link rel="stylesheet" href="/css/userLogged.css">


	<!-- Modernizr JS -->
	<script src="/js/modernizr-2.6.2.min.js"></script>

	</head>
	<body>

		<div class="js-sticky">
			<div class="fh5co-main-nav">
				<div class="container-fluid">
					<div class="fh5co-menu-1">
						<a href="#" data-nav-section="home">Home</a>
						<a href="#fh5co-about" data-nav-section="about">About</a>
					</div>
					<div class="fh5co-logo">
						<a href="#">FoodZen</a>
					</div>
					<div class="fh5co-menu-2">
                        <a href="/" class="btn btn-primary btn-outline" style="padding: 15px;">Logout</a>
						<a href="#fh5co-contact" data-nav-section="contactus">Contact Us</a>
					</div>
				</div>

			</div>
		</div>
	<center>
		<blockquote>
			<p>Welcome <br><h1>Customer</h1></p>
		</blockquote>
		<form method="post" action="/search_rest">
			<input type="text" name="name" placeholder="Enter Restaurant name">
			<button type="submit">Search</button>
		</form>
	</center>
		<div id="fh5co-sayings">
			<div class="container">
				<div class="row to-animate">

					<div class="flexslider">
						<ul class="slides">

							<li>
							<blockquote>
									<p>&ldquo;Cooking is an art, but all art requires knowing something about the techniques and materials&rdquo;</p>
									<p class="quote-author">&mdash; Nathan Myhrvold</p>
								</blockquote>
							</li>
							<li>
								<blockquote>
									<p>&ldquo;Give a man food, and he can eat for a day. Give a man a job, and he can only eat for 30 minutes on break.&rdquo;</p>
									<p class="quote-author">&mdash; Lev L. Spiro</p>
								</blockquote>
							</li>
							<li>
								<blockquote>
									<p>&ldquo;Find something you’re passionate about and keep tremendously interested in it.&rdquo;</p>
									<p class="quote-author">&mdash; Julia Child</p>
								</blockquote>
							</li>
							<li>
								<blockquote>
									<p>&ldquo;Never work before breakfast; if you have to work before breakfast, eat your breakfast first.&rdquo;</p>
									<p class="quote-author">&mdash; Josh Billings</p>
								</blockquote>
							</li>
						</ul>
					</div>

				</div>
			</div>
		</div>

    <div>
			<br>
			<br>
			<br>
			<h1><center>OUR TOP RESTAURANTS THE PAST MONTH</center></h1>
			<br><br>
			<div class="container">
			<table class="table" id="customers">
				<thead>
					<tr>
					
					<th scope="col">Restaurant Name</th>
					<th scope="col">Address</th>
					<th scope="col">Email Id</th>
					<th scope="col">Phone No</th>
					</tr>
				</thead>
				<tbody>
					{{#each data}}
					<tr>
					
					<td>{{this.rest_name}}</td>
					<td>{{this.address}}</td>
					<td>{{this.email}}</td>
					<td>{{this.phonenumber}}</td>
					</tr>
					{{/each}}
				
					
				</tbody>
			</table>
			<br><br><br>
			</div>
		</div>

		<div class="fh5co-restaurants" data-section="restaurants">
			<div class="container">
				<div class="grid">
					<div class="grid-item">
						<div class="card">
							<img src="/images/1.jpg" alt="" class="card-img">
							<div class="card-content">
								<h1 class="card-header">Stall 1</h1>
								<p class="card-text">
									Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam nostrum, reiciendis voluptatibus autem nemo quidem? Dolores, distinctio magnam unde tenetur, nostrum ullam quo, voluptatum odit accusantium dolorem nam placeat et.
								</p>
								<button class="card-btn">
									Order Now <span>&rarr;</span>
								</button>
							</div>
						</div>
					</div>
					<div class="grid-item">
						<div class="card">
							<img src="images/2.png" alt="" class="card-img">
							<div class="card-content">
								<h1 class="card-header">Stall 2</h1>
								<p class="card-text">
									Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam nostrum, reiciendis voluptatibus autem nemo quidem? Dolores, distinctio magnam unde tenetur, nostrum ullam quo, voluptatum odit accusantium dolorem nam placeat et.
								</p>
								<button class="card-btn">
									Order Now <span>&rarr;</span>
								</button>
							</div>
						</div>
					</div>
					<div class="grid-item">
						<div class="card">
							<img src="images/2.png" alt="" class="card-img">
							<div class="card-content">
								<h1 class="card-header">Stall 3</h1>
								<p class="card-text">
									Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam nostrum, reiciendis voluptatibus autem nemo quidem? Dolores, distinctio magnam unde tenetur, nostrum ullam quo, voluptatum odit accusantium dolorem nam placeat et.
								</p>
								<button class="card-btn">
									Order Now <span>&rarr;</span>
								</button>
							</div>
						</div>
					</div>
					<div class="grid-item">
						<div class="card">
							<img src="images/1.jpg" alt="" class="card-img">
							<div class="card-content">
								<h1 class="card-header">Stall 4</h1>
								<p class="card-text">
									Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam nostrum, reiciendis voluptatibus autem nemo quidem? Dolores, distinctio magnam unde tenetur, nostrum ullam quo, voluptatum odit accusantium dolorem nam placeat et.
								</p>
								<button class="card-btn">
									Order Now <span>&rarr;</span>
								</button>
							</div>
						</div>
					</div>
					<div class="grid-item">
						<div class="card">
							<img src="images/2.png" alt="" class="card-img">
							<div class="card-content">
								<h1 class="card-header">Stall 5</h1>
								<p class="card-text">
									Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam nostrum, reiciendis voluptatibus autem nemo quidem? Dolores, distinctio magnam unde tenetur, nostrum ullam quo, voluptatum odit accusantium dolorem nam placeat et.
								</p>
								<button class="card-btn">
									Order Now <span>&rarr;</span>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
        <div id="fh5co-about" data-section="about">
			<div class="fh5co-2col fh5co-bg to-animate-2" style="background-image: url(images/res_img_1.jpg)"></div>
			<div class="fh5co-2col fh5co-text">
				<h2 class="heading to-animate">About Us</h2>
				<p class="to-animate"><span class="firstcharacter">T</span>here was a time when anyone craved for their favorite street food, they had to go out, browse a number of stalls, ask and negotiate prices with more number of such street food vendors. Then after a long hasty work, finally find and indulge in their food in peace. But let's be real. Does anyone want to work more to eat their favorite food, after having a long hasty day at work. Not really, especially not in cities booming with business. But not now. Now, with FoodZen, you can order your favorite street food and choose from a wide variety of options. Yes! we provide doorstep delivery so you do not need to go out of your home. Just open your door please, when we knock!</p>
				<p class="text-center to-animate"><a href="#" class="btn btn-primary btn-outline">Get in touch</a></p>
			</div>
		</div>

		<div id="fh5co-contact" data-section="contactus">
			<div class="container">
				<div class="row text-center fh5co-heading row-padded">
					<div class="col-md-8 col-md-offset-2">
						<h2 class="heading to-animate">Contact Us</h2>
						<p class="sub-heading to-animate">Drop us a hint. We are eager to talk to you.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 to-animate-2">
						<h3>Contact Info</h3>
						<ul class="fh5co-contact-info">
							<li class="fh5co-contact-address ">
								<i class="icon-home"></i>
								Christ (Deemed-to-be) University, S.G. Palya <br>Bengaluru, Karnataka &mdash;560029
							</li>
							<li><i class="icon-phone"></i> (+91) 80 4012 9600</li>
							<li><i class="icon-envelope"></i>aniket.singh@mca.christuniversity.in <br>rajarshi.barman@mca.christuniversity.in <br>neil.c@mca.christuniversity.in</li>
							<li><i class="icon-globe"></i> <a href="https://christuniversity.in/" target="_blank"><strong>Our Organisation: </strong> Christ University</a></li>
						</ul>
					</div>
					<div class="col-md-6 to-animate-2">
						<h3>Contact Form</h3>
						<form action="/contact2">
							<div class="form-group ">
								<label for="name" class="sr-only">Name</label>
								<input name="name" id="name" class="form-control" placeholder="Name" type="text">
							</div>
							<div class="form-group ">
								<label for="email" class="sr-only">Email</label>
								<input name="email" id="email" class="form-control" placeholder="Email" type="email">
							</div>
	
							<div class="form-group ">
								<label for="date" class="sr-only">Date</label>
								<input name="date" id="date" class="form-control" placeholder="Date &amp; Time" type="text">
							</div>
	
							<div class="form-group ">
								<label for="message" class="sr-only">Message</label>
								<textarea name="message" id="message" cols="30" rows="5" class="form-control" placeholder="Message"></textarea>
							</div>
							<div class="form-group ">
								<input class="btn btn-primary" value="Send Contact Info" type="submit">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

	<center>
		<a href="/feedback" class="btn btn-primary btn-outline" style="padding: 15px;">Feedback</a>
	</center>

<br><br>
	<div id="fh5co-footer">
		<div class="container">
			<div class="row row-padded">
				<div class="col-md-12 text-center">
					<p class="to-animate">&copy; 2023 FoodZen Developers <br> Designed by Aniket, Rajarshi and Neil
					</p>
					<p class="text-center to-animate"><a href="#" class="js-gotop">Go To Top</a></p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					<ul class="fh5co-social">
						<li class="to-animate-2"><a href="https://www.facebook.com/login/"><i class="icon-facebook"></i></a></li>
						<li class="to-animate-2"><a href="https://twitter.com/?lang=en"><i class="icon-twitter"></i></a></li>
						<li class="to-animate-2"><a href="https://www.instagram.com/"><i class="icon-instagram"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<!-- jQuery -->
	<script src="/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="/js/bootstrap.min.js"></script>
	<!-- Bootstrap DateTimePicker -->
	<script src="/js/moment.js"></script>
	<script src="/js/bootstrap-datetimepicker.min.js"></script>
	<!-- Waypoints -->
	<script src="/js/jquery.waypoints.min.js"></script>
	<!-- Stellar Parallax -->
	<script src="/js/jquery.stellar.min.js"></script>

	<!-- Flexslider -->
	<script src="/js/jquery.flexslider-min.js"></script>
	<script>
		$(function () {
	       $('#date').datetimepicker();
	   });
	</script>
	<!-- Main JS -->
	<script src="/js/userLogged.js"></script>

	</body>
</html>

